
.Header{
    max-width: var(--main-width);
    width:100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 160px;
    padding-top: 20px;

}

.Header svg{
    max-height: 200px;
    height: 100%;
    min-width: 100px;
    color: white;
    fill: white;
    /*margin: 10px 60px 10px 60px;*/
}

.Header .logo-container{
    min-width:150px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-signature{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 60px;
}

.logo-signature h1{
    margin: 0;
    padding: 0;
    min-width: 400px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.logo-signature h2{
    margin: 0;
    padding: 0;
    min-width: 400px;
    font-size: 0.9rem;
    margin-top: 5px;
}

.Header ul{
    display: flex;
    height: 100%;
    width: 100%;

    align-items: center;
    justify-content: flex-end;
}


.Header li{
    margin: 10px 0px 10px 120px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

/*.logo {*/
/*    font-size: 3rem;*/
/*    text-transform: capitalize;*/
/*    font-weight: 500;*/
/*    letter-spacing: 2px;*/
/*}*/