.left-tags{
    max-width: 300px;
    border-radius: 15px;
    background: #282828 linear-gradient(180deg, rgba(11, 11, 11, 1) 0%, rgba(0, 0, 0, 1) 67%);
    flex: 1;
    margin-right: 50px;
    color: #dcdcdc;
    padding: 5px 5px;

}

.left-tags h3{
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 30px 0px;
    color: white;
}

.tags-container > div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 7px 20px;
    box-sizing: border-box;
    font-size: 1.1rem;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 1px;
}

.tags-container input{
    margin-right: 20px;
}
