.left-tags{
    grid-area: lt;
    background-color: #282828;
    min-width: 200px;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(33,33,33,1) 0%, rgba(0,0,0,1) 97%);

}

.left-tags h3{
    font-size: 1.8rem;
    line-height: 2rem;
    margin: 30px 0px;
}

.tags-container > div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 7px 20px;
    box-sizing: border-box;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.tags-container input{
    margin-right: 40px;

}