/*.Article{*/
/*    max-width: 600px;*/
/*    overflow: hidden;*/
/*}*/

/*.Article img{*/
/*    width: 600px;*/
/*    height: 400px;*/
/*}*/

.Article{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width:750px;
}

.Article img{
    width: 100%;
    border-radius: 15px;
    max-height:666px;
}

.tags{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
}

.tag{
    background-color: #494949;
    background: linear-gradient(90deg, rgba(41,41,41,1) 0%, rgba(15,15,15,1) 49%, rgba(42,41,41,1) 100%);
    padding: 4px 10px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 15px;
}

.tag-recent{
    font-size: 0.8rem;
    font-weight: 500;
    margin-right: 10px;
}

.tag-newest{
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 10px;
    margin-top: 20px;
}

h2{
  text-align: left;
}

.recent-articles h2{
    line-height: 1.7rem;
}

.newest-article h2{
    font-size: 4rem;
    line-height: 5rem;
    margin-top: 0rem;
    margin-bottom: 20px;
    text-align: left;
    font-weight: 900;
    letter-spacing: 0.6px;

}

.Article .img-container{
    display: flex;
    justify-content: center;
    align-items: center;

    /*width: 100%;*/
    overflow: hidden;
    min-height: 233px;
    max-height: 500px;
    height: 500px;
    border-radius: 15px;
}
.newest-article img{


}

.r-more{
    margin-left: auto;
    margin-top: auto;
    color: var(--font-secondary);
    font-size: 1.05rem;
    font-weight: 400;
}

.Article p{
    max-height: 100px;
    overflow: hidden;
    position: relative;
}

.p-fade{
    width: 100%;
    height: 90%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(52,52,52,0) 0%, rgba(0,0,0,0.8421743697478992) 100%);

}

.a-date{
    margin-left: auto;
    color: var(--font-secondary);
    margin-top: 10px;
    text-align: right;
    font-size: 0.85rem;
}

.post{
    position: relative;
    overflow: hidden;
}

.empty{
    min-width: 350px;

}

.empty-1{
    min-width: 700px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;

}